.pytest_cache
__pycache__
logs
*.log
clslq.egg-info
dist
.eggs
test-report.html
build
pytest/*.db
Pipfile.lock
.vscode
_api
_static
_templates
docs/api
docs/_build
.clslq.json
*.xlsx
venv