[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "custom"

[packages]
loguru = "*"
pipenv = "*"
click = "*"

[dev-packages]
loguru = "*"
pipenv = "*"
click = "*"
alive-progress = "*"
sqlalchemy = "*"
pytest = "*"
pytest-html = "*"
sphinx = "*"

[requires]
python_version = "3.9"
