[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "custom"

[packages]
loguru = "*"
pipenv = "*"
click = "*"

[dev-packages]
loguru = "*"
pipenv = "*"
click = "*"
alive-progress = "*"
sqlalchemy = "*"
pytest = "*"
pytest-html = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx_rtd_theme = "*"
sphinx_markdown_tables = "*"
recommonmark = "*"

[requires]
python_version = ">=3.6"
