<table border="0" cellpadding="0" cellspacing="0" width="1055" style="border-collapse:collapse;width:793pt">
    <tbody>
        <tr height="22" style="height:16.5pt">
            <td colspan="5" height="22"  width="1055"
                style="height: 16.5pt; width: 793pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border: 0.5pt solid windowtext; text-align: center; background: rgb(253, 233, 217);">
                $title</td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td height="19"  width="127"
                style="height: 14pt; border: 0.5pt solid windowtext; width: 96pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                分类</td>
            <td  width="84"
                style="border: 0.5pt solid windowtext; width: 63pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                进度</td>
            <td  width="179"
                style="border: 0.5pt solid windowtext; width: 135pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                事项</td>
            <td  width="284"
                style="border: 0.5pt solid windowtext; width: 213pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                遇到问题</td>
            <td  width="381"
                style="border: 0.5pt solid windowtext; width: 286pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                解决办法</td>
        </tr>
        <tr height="149" style="height:112.0pt">
            <td rowspan="4" height="243"  width="127"
                style="border-bottom: none; height: 182pt; border-top: 0.5pt solid windowtext; width: 96pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border-right: 0.5pt solid windowtext; border-left: 0.5pt solid windowtext; border-image: initial;">
                1、团队协调工作</td>
            <td  width="84"
                style="border: 0.5pt solid windowtext; width: 63pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                进行中</td>
            <td  width="179"
                style="border-top: 0.5pt solid windowtext; border-left: 0.5pt solid windowtext; width: 135pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border-right: 0.5pt solid windowtext; border-bottom: none; border-image: initial; text-align: center;">
                遂宁项目</td>
            <td  width="284"
                style="border: 0.5pt solid windowtext; width: 213pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                1、
                <br>2、
            </td>
            <td  width="381"
                style="border: 0.5pt solid windowtext; width: 286pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                X
                <br>1、
                <br>2、
                <br>3、
            </td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td height="19"  width="84"
                style="height: 14pt; border: 0.5pt solid windowtext; width: 63pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                　</td>
            <td  width="179"
                style="border: 0.5pt solid windowtext; width: 135pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                　</td>
            <td  width="284"
                style="border: 0.5pt solid windowtext; width: 213pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                　</td>
            <td  width="381"
                style="border: 0.5pt solid windowtext; width: 286pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                　</td>
        </tr>
        <tr height="56" style="height:42.0pt">
            <td height="56"  width="84"
                style="height: 42pt; border: 0.5pt solid windowtext; width: 63pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                已完成</td>
            <td  width="179"
                style="border-left: 0.5pt solid windowtext; width: 135pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border-top: none; border-right: 0.5pt solid windowtext; border-bottom: 0.5pt solid windowtext; border-image: initial; text-align: center;">
                团队其他工作</td>
            <td  width="284"
                style="width: 213pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border: none;">
            </td>
            <td  width="381"
                style="border: 0.5pt solid windowtext; width: 286pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                1、
                <br>2、
            </td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td height="19"  width="84"
                style="height: 14pt; border: 0.5pt solid windowtext; width: 63pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                　</td>
            <td  width="179"
                style="border: 0.5pt solid windowtext; width: 135pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                　</td>
            <td  width="284"
                style="border: 0.5pt solid windowtext; width: 213pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                　</td>
            <td  width="381"
                style="border: 0.5pt solid windowtext; width: 286pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                　</td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td rowspan="3" height="57"  width="127"
                style="height: 42pt; border: 0.5pt solid windowtext; width: 96pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                2、研发任务</td>
            <td  width="84"
                style="border: 0.5pt solid windowtext; width: 63pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                　</td>
            <td  width="179"
                style="border: 0.5pt solid windowtext; width: 135pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                　</td>
            <td  width="284"
                style="border: 0.5pt solid windowtext; width: 213pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                　</td>
            <td  width="381"
                style="border: 0.5pt solid windowtext; width: 286pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                X</td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td height="19"  width="84"
                style="height: 14pt; border: 0.5pt solid windowtext; width: 63pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                　</td>
            <td  width="179"
                style="border: 0.5pt solid windowtext; width: 135pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                　</td>
            <td  width="284"
                style="border: 0.5pt solid windowtext; width: 213pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                　</td>
            <td  width="381"
                style="border: 0.5pt solid windowtext; width: 286pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                　</td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td height="19"  width="84"
                style="height: 14pt; border: 0.5pt solid windowtext; width: 63pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                　</td>
            <td  width="179"
                style="border: 0.5pt solid windowtext; width: 135pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; text-align: center;">
                　</td>
            <td  width="284"
                style="border: 0.5pt solid windowtext; width: 213pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                　</td>
            <td  width="381"
                style="border: 0.5pt solid windowtext; width: 286pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle;">
                　</td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td colspan="5" height="19"  width="1055"
                style="height: 14pt; width: 793pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border: 0.5pt solid windowtext; text-align: center; background: rgb(253, 233, 217);">
                下周工作计划</td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td colspan="5" height="19"  width="1055"
                style="height: 14pt; width: 793pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border: 0.5pt solid windowtext;">
                1、</td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td colspan="5" height="19"  width="1055"
                style="height: 14pt; width: 793pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border: 0.5pt solid windowtext;">
                2、</td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td colspan="5" height="19"  width="1055"
                style="height: 14pt; width: 793pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border: 0.5pt solid windowtext;">
                3、　</td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td colspan="5" height="19"  width="1055"
                style="height: 14pt; width: 793pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border: 0.5pt solid windowtext;">
                4、　</td>
        </tr>
        <tr height="19" style="height:14.0pt">
            <td colspan="5" height="19"  width="1055"
                style="height: 14pt; width: 793pt; padding-top: 1px; padding-right: 1px; padding-left: 1px; font-size: 11pt; font-family: 宋体; vertical-align: middle; border: 0.5pt solid windowtext;">
                5、　</td>
        </tr>
    </tbody>
</table>